.controls {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin: 20px 0 20px;
}
.btn {
  display: inline-block;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  color: rgb(35, 35, 35);
  border: none;
  background-color: rgb(230, 230, 230);
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-transform: capitalize;
  min-width: 100px;
  padding: 5px 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover {
  background-color: rgb(180, 180, 180);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}
